/* #loading,
#results {
  display: none;
} */

body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#384256, #453856);
}

.btn {
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}
